@model List<TestProje.Models.DbModels.Blog>


<div class="row pt-5">
    <div class="col">
        <a class="btn btn-primary" href="@Url.Action("BlogIslemleri","Home")">Yeni Ekle</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <td>Blog Başlık</td>
            <td>Blog İçerik</td>
            <td>Yazım Tarihi</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var blog in Model)
        {
            <tr>
                <td>
                    @blog.BlogBaslik
                </td>
                <td>
                    @blog.BlogIcerik
                </td>
                <td>
                    @blog.YazimTarihi
                </td>
            </tr>
        }

    </tbody>
</table>